*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

/* ROW */

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* COLUMNS */

.row > [class^='col'] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.row > .col{
    max-width: 100%;
    flex-grow: 1;
}

/* 12-COLUMN GRID */

.row > .col-12{
    flex-basis: 100%;
    max-width: 100%;
}

.row > .col-11{
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row > .col-10{
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row > .col-9{
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row > .col-8{
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row > .col-7{
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row > .col-6{
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.row > .col-5{
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row > .col-4{
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row > .col-3{
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.row > .col-2{
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row > .col-1{
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

/* OFFSET */

.offset-12{
    margin-left: calc(100% / 12 * 12);
}

.offset-11{
    margin-left: calc(100% / 12 * 11);
}

.offset-10{
    margin-left: calc(100% / 12 * 10);
}

.offset-9{
    margin-left: calc(100% / 12 * 9);
}

.offset-8{
    margin-left: calc(100% / 12 * 8);
}

.offset-7{
    margin-left: calc(100% / 12 * 7);
}

.offset-6{
    margin-left: calc(100% / 12 * 6);
}

.offset-5{
    margin-left: calc(100% / 12 * 5);
}

.offset-4{
    margin-left: calc(100% / 12 * 4);
}

.offset-3{
    margin-left: calc(100% / 12 * 3);
}

.offset-2{
    margin-left: calc(100% / 12 * 2);
}

.offset-1{
    margin-left: calc(100% / 12);
}

.offset-0{
    margin-left: 0;
}

/* FLEXBOX */

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-baseline{
    justify-content: baseline;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}

.align-items-stretch{
    align-items: stretch;
}

.align-self-center{
    align-self: center;
}

.align-self-start{
    align-self: start;
}

.align-self-end{
    align-self: end;
}

.align-self-stretch{
    align-self: stretch;
}

